        body {
            font-family: 'Montserrat', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #fff;
        }

        header {
            background-color: #006ba2;
            color: #fff;
            padding: 10px;
            text-align: center;
            position: relative; /* Añadido para posicionar los iconos */
        }

        header img {
            max-width: 100%;
            height: auto;
            width: 25%;
            display: block;
            margin: 0 auto;
        }


        @media only screen and (max-width: 768px) {
            header img {
                width: 50%;
            }

        }

/*-----------------------------------------------*/

nav {
    background-color: #004664;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
    display: block;
    padding: 10px; /* Añadido para mejorar la interactividad en dispositivos táctiles */
}

nav a:hover {
    color: #00C3BA;
}

nav .submenu {
    display: none;
    position: absolute;
    background-color: #004664;
    padding: 10px;
    z-index: 1;
    border-top: 2px solid #fff; /* Línea superior entre elementos del menú desplegable */
}

nav li:hover .submenu {
    display: block;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

@media screen and (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #004664;
        text-align: center;
    }

    nav ul.show {
        display: flex;
    }

    nav li {
        width: 100%;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }
}




/*-----------------------------------------------*/



        footer {
            background-color: #105E86;
            color: #fff;
            text-align: center;
			padding-bottom: 10px;
		    padding-top: 10px;
            position: relative;
            width: 100%;
        }

        /* Estilos adicionales para dispositivos móviles */
        @media only screen and (max-width : 1000px ){
            header img {
                width: 65%; /* Cambia el ancho al 100% para dispositivos móviles */
            }
        }


#patrocinadores {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
	        background-color: #004664;
        }

        #patrocinadores img {
            max-width: 100%;
            height: 60px;
            margin: 10px;
            
        }

        #105E86 {
            /* Agrega estilos a la sección #105E86 según tus necesidades */
            background-color: #105E86;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

#patrocinadores2 {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
	        background-color: #004664;
        }

        #patrocinadores2 img {
            max-width: 100%;
            height: 60px;
            margin: 10px;
            
        }

        #105E86 {
            /* Agrega estilos a la sección #105E86 según tus necesidades */
            background-color: #105E86;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

h2 {font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    color: #2cc000;
    font-weight: 1000;}

p {font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #004664;
}

.columna{padding: 2%; display: grid; justify-items: center; }
.contenido{    
	max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;}
.imagen{width: 50%;}

@media screen and (max-width: 1100px){
            /* Estilos específicos para pantallas pequeñas */
            .columna{
                flex-direction: column; /* Cambio a dirección de columna en pantallas pequeñas */
                padding: 2%; /* Ajustar el relleno en pantallas pequeñas */
            }
	.acerca{width: 100%; padding-right: 1px; padding-left: 1px;}
	p {font-size: 12px;}
	h2 {font-size: 30px;  }
	.imagen{width: 100%;}
        }


 .video-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; /* Proporción de aspecto 16:9 para hacer el contenedor responsive */
        overflow: hidden;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }