/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
}

.header {
  background-color: #000423;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* LOGO */
.nav-logo img {
  height: 40px;
  display: block;
}

/* MENU */
.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-item {
  margin-left: 2rem;
}

.nav-link {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ffc107;
}

/* HAMBURGER ICON */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: all 0.3s ease-in-out;
}

.bar:hover {
  background-color: #ffbd2f;
}

/* MOBILE STYLES */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-menu {
    position: absolute;
    top: 70px;
    left: -100%;
    flex-direction: column;
    background-color: #000423;
    width: 100%;
    padding: 1rem 0;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 1rem 0;
  }

  .nav-link {
    color: #fff;
    font-size: 1.2rem;
  }

  /* HAMBURGER ANIMATION */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }
}
.has-submenu {
  position: relative;
	max-width: 100%;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #070c35;
  list-style: none;
  padding: 10px;
  margin: 0;
  top: 100%;
  left: 0;
  z-index: 1000;
}

.has-submenu:hover .submenu {
  display: block;
}

.submenu li a {
  display: block;
  padding: 8px 12px;
  color: white;
  text-decoration: none;
}

.submenu li a:hover {
  background-color: #001a40;
}



@media (max-width: 768px) {
li {
	width: 100%;
	text-align: center;
}
	.submenu li a {
  display: block;
  padding: 8px 12px;
  color: white;
  text-decoration: none;
	width: 100%;
}
.submenu {
  display: none;
  position: absolute;
  background-color: #070c35;
  list-style: none;
  padding: 10px;
  margin: 0;
  top: 100%;
  left: 0;
  z-index: 1000;
width: 100%;
}	
  }